/* Általános Reszponzivitás */
@media (max-width: 768px) {
  body {
    background-size: contain;
  }

  nav ul {
    display: block;
    text-align: center;
    list-style-type: none;
    color: #fff;
  }

  li {
    display: block;
    margin: 5px 0;
  }

  .homeContainer {
    padding: 10px;
  }
}

nav {
  background-color: #333;
  opacity: 0.9;
  color: #fff;
  padding: 10px;
  width: auto;
}

label {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  color: #fff;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
  background-color: #333;
  width: 100%;
  max-width: fit-content;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 50px;
  padding: 5px;
  border-radius: 5px;
}

/* Kezdőoldal */

#homeH1 {
  background-color: #333;
  opacity: 0.7;
  color: #fff;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 5px;
}

.homeContainer {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 10px;
  background-color: #333;
  opacity: 0.9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  font-weight: bold;
  text-align: justify;
}

.homeButtons {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 100px;
  margin-bottom: 50px;
}

#homeClick {
  color: #0b0b0b;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

#buttonImage {
  width: 20px;
  margin-top: 3px;
  font-size: large;
}

/* Footer */

footer {
  position: relative;
  background-color: #333;
  opacity: 0.9;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: auto;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.footer-links li {
  display: block;
  margin: 10px 0;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
}

/* Footer Reszponzivitás */
@media (max-width: 768px) {
  .footer-links li {
    display: inline;
    margin: 0 10px;
  }
}

/*Bejelentkezés és Regisztrálás*/

#HeadLine {
  text-align: center;
  background-color: #333;
  color: #fff;
  width: 100%;
  max-width: 330px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: xx-large;
}

#divs {
  background-color: #333;
  opacity: 0.9;
  border-radius: 10px;
  color: #fff;
  font-size: larger;
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
  margin-bottom: 40px;
  padding: 15px;
  text-align: center;
}

/*Bejelentkezés*/

#loginSubmit {
  margin: 20px;
}

/*Regisztrálás*/

#signupSubmit {
  margin: 20px;
}

/*Szállítás lekérdezés*/

.collectionForm {
  background-color: #333;
  opacity: 0.9;
  color: #fff;
  text-align: center;
  margin: auto;
  width: 100%;
  max-width: 300px;
  margin-bottom: 50px;
  margin-top: 30px;
  border-radius: 10px;
}

#startDate {
  margin-bottom: 30px;
}

#endDate {
  margin-bottom: 30px;
}

#wasteType {
  margin-bottom: 30px;
}

#collectionSubmit {
  margin-bottom: 20px;
}

/*REST API Test*/

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

#result-container {
  display: flex;
  flex-wrap: wrap;
  margin: -10px; /* Távolság kompenzációja a dobozok között */
}

.row-container {
  display: flex;
  margin: 10px auto;
  text-align: center;
}

.country-box {
  background-color: #333;
  border: 1px solid #000;
  color: white;
  width: 100%;
  max-width: fit-content;
  box-sizing: border-box;
  text-align: center;
  margin: 10px auto;
  height: 100%;
  max-height: fit-content;
}

button {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
}

.flag-image {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 200px;
}

.jsButtons {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
  width: 100%;
  max-width: fit-content;
  margin-left: 230px;
}
