/* Általános Reszponzivitás */
@media (max-width: 768px) {
  body {
    background-size: contain;
  }

  nav ul {
    display: block;
    text-align: center;
    list-style-type: none;
    color: #fff;
  }

  li {
    display: block;
    margin: 5px 0;
  }

  .homeContainer {
    padding: 10px;
  }
}

body {
  background-image: url("../public/images/background.jpg");
  background-size: cover;
  font-family: Arial, sans-serif;
  margin: 0;
}

nav {
  background-color: #333;
  opacity: 0.9;
  color: #fff;
  padding: 10px;
  width: auto;
}

label {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
  background-color: #333;
  width: 100%;
  max-width: fit-content;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 50px;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
}

/* Kezdőoldal */

#homeH1 {
  background-color: #333;
  opacity: 0.7;
  color: #fff;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 5px;
}

.homeContainer {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 10px;
  background-color: #333;
  opacity: 0.9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  font-weight: bold;
  text-align: justify;
}

.homeButtons {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 100px;
  margin-bottom: 50px;
}

#homeClick {
  color: #0b0b0b;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

#buttonImage {
  width: 20px;
  margin-top: 3px;
  font-size: large;
}

/* Footer */

footer {
  position: relative;
  background-color: #333;
  opacity: 0.9;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: auto;
  width: 100%;
  height: 100px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.footer-links li {
  display: block;
  margin: 10px 0;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
}

/* Footer Reszponzivitás */
@media (max-width: 768px) {
  .footer-links li {
    display: inline;
    margin: 0 10px;
  }
}

/*Bejelentkezés és Regisztrálás*/

#HeadLine {
  text-align: center;
  background-color: #333;
  color: #fff;
  width: 100%;
  max-width: 330px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: xx-large;
}

#divs {
  background-color: #333;
  opacity: 0.9;
  border-radius: 10px;
  color: #fff;
  font-size: larger;
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
  margin-bottom: 40px;
  padding: 15px;
  text-align: center;
}

/*Bejelentkezés*/

#loginSubmit {
  margin: 20px;
}

/*Regisztrálás*/

#signupSubmit {
  margin: 20px;
}

/*Szállítás lekérdezés*/
